body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white; 
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: rgb(255, 255, 192);
}

h1 {
    align-self: center;
    font-size: clamp(8px, 6cqw, 72px);
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
}

p, ul {
    font-size: 14pt;
    margin: 5px;
}

hr {
    border: solid 1px rgb(255, 255, 192);
}

iframe {
    background-color: gray;
    border-radius: 20px;
    border: yellow 2px solid;
    width: 60vw;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    border: 3px solid gray;
    border-radius: 20px;
    background-color: purple;
    max-width: 70vw;
    position: relative;
}

.footer {
    font-family: "Special Elite";
    min-width: 300px;
    width: 100%;
    margin-top: 20px;
}

.footer ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.flex-row{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.thumbs-row{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    max-width: 40vw;
    padding: 0px;
    margin: 0px;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.thumb {
    width: 300px;
    /* min-width: 300px; */
    /* margin: auto; */
    border-radius: 11px;
    border: yellow solid 2px;
}

.icon {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    padding: 0px;
    margin: 0px;
}

.single {
    display: flex;
    flex-wrap: wrap;
    min-width: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media (max-width: 1530px) {
    .flex-row {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .footer ul {
        flex-direction: column;
    }

    .divider {
        display: none;
    }

    /* .thumb {
        width: 100%;
    } */
}