<html>
    <head>
        <title>whinyjack.com</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">   
    </head>
    <body>

        <div class="main">
           
            {{ block "main" . }}
            
            {{end}}

            <div class="footer">
               
                <ul>
                    <!-- </ul>
                    <ul> -->
                        <li><a href="https://www.youtube.com/@greensneakersmedia7385" target="_blank">YOUTUBE</a></li>
                        <li class="divider">//</li>
                        <li><a href="https://whinyjack.newgrounds.com/" target="_blank">NEWGROUNDS</a></li>
                        <!-- <li>||</li> -->
                    </ul>
                    <hr> 
                        <ul>
                    <li>
                        SUPPORT ME:
                    </li>
                    <li><a href="https://paypal.me/WhinyJack?country.x=US&locale.x=en_US" target="_blank">PayPal</a></li>
                    <li class="divider">~</li>
                    <li><a href="https://cash.app/$WhinyJack" target="_blank">CashApp</a></li>
                    <li class="divider">~</li>
                    <li><a href="https://venmo.com/code?user_id=2892560993353728115&created=1734327136" target="_blank">Venmo</a></li>
                </ul>
                <!-- <ul>
                    
                    <li><a href="https://www.youtube.com/@greensneakersmedia7385" target="_blank">YOUTUBE</a></li>
                    <li>-</li>
                    <li><a href="https://whinyjack.newgrounds.com/" target="_blank">NEWGROUNDS</a></li>
                </ul> -->
            </div>
        </div>
        <div class="footer">

            <ul>
                <li>
                    (C) 2026 Jack Pennington 
                </li>
                <li class="divider">//</li>
                <li>
                    North Carolina, USA
                </li> 
                <li class="divider">//</li>
                <li>
                    <a href="mailto:jack@whinyjack.com">jack@whinyjack.com</a>
                </li>
            </ul>
        </div>

    </body>
</html>